[submodule "vendors/deps-async-rest-client"]
	path = vendors/deps-async-rest-client
	url = git@github.com:Siarhei-Shviadko/deps-async-rest-client.git
[submodule "vendors/deps-pipelines"]
	path = vendors/deps-pipelines
	url = git@github.com:Siarhei-Shviadko/deps-pipelines.git
[submodule "vendors/deps-observability-instrumentation"]
	path = vendors/deps-observability-instrumentation
	url = git@github.com:Siarhei-Shviadko/deps-observability-instrumentation.git
