aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
asgi-lifespan==2.1.0
asgiref==3.8.1
async-rest-client==0.2.0
attrs==25.3.0
azure-core==1.34.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-identity==1.23.0
azure-monitor-opentelemetry==1.6.7
azure-monitor-opentelemetry-exporter==1.0.0b38
cachetools==5.5.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cryptography==45.0.4
dependency-injector==4.48.1
deps-observability-instrumentation==1.0.1
fastapi==0.120.4
fastapi-csrf-protect==1.0.7
fixedint==0.1.6
frozenlist==1.7.0
googleapis-common-protos==1.70.0
grpcio==1.73.1
h11==0.16.0
httpcore==1.0.9
httpx==0.27.2
idna==3.10
importlib_metadata==8.7.0
isodate==0.7.2
itsdangerous==2.2.0
more-itertools==9.1.0
msal==1.32.3
msal-extensions==1.3.1
msrest==0.7.1
multidict==6.5.1
oauthlib==3.3.1
opentelemetry-api==1.34.1
opentelemetry-distro==0.55b1
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-instrumentation==0.55b1
opentelemetry-instrumentation-asgi==0.55b1
opentelemetry-instrumentation-dbapi==0.55b1
opentelemetry-instrumentation-django==0.55b1
opentelemetry-instrumentation-fastapi==0.55b1
opentelemetry-instrumentation-flask==0.55b1
opentelemetry-instrumentation-psycopg2==0.55b1
opentelemetry-instrumentation-requests==0.55b1
opentelemetry-instrumentation-urllib==0.55b1
opentelemetry-instrumentation-urllib3==0.55b1
opentelemetry-instrumentation-wsgi==0.55b1
opentelemetry-proto==1.34.1
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-util-http==0.55b1
packaging==25.0
pip==26.1.2
propcache==0.3.2
protobuf==5.29.5
psutil==7.0.0
pycparser==2.22
pydantic==2.11.9
pydantic_core==2.33.2
pydantic-settings==2.10.1
PyJWT==2.10.1
python-dotenv==1.1.1
python-multipart==0.0.22
requests==2.28.2
requests-oauthlib==2.0.0
six==1.17.0
sniffio==1.3.1
starlette==0.49.3
typing_extensions==4.14.0
typing-inspection==0.4.1
urllib3==1.26.20
uvicorn==0.18.3
wrapt==1.17.2
yarl==1.20.1
zipp==3.23.0
